.vs
.vscode
.codelite
.kdev4
.idea
Intermediate
Saved
Binaries
Script
Plugins
DerivedDataCache
Build
/*.ignore
/tags
/Makefile
/TDS.code-workspace
/TDS.kdev4
/*.sln
/CMakeLists.txt
/TDS.pro
/TDS.workspace
/TDSCodeCompletionFolders.txt
/TDSCodeLitePreProcessor.txt
/TDSConfig.pri
/TDSDefines.pri
/TDSHeader.pri
/TDSIncludes.pri
/TDSSource.pri
